<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="/static/js/cchngr.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/work">Our Work</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2024 Input Web</p>
    </footer>
</body>
</html>
